        * {
            box-sizing: border-box;
        }

        :root {
            --canvas-color: #121212;
            --card-color: #1E1E1E;
            --accent-color: #BB86FC;
            --primary-text-color: #FFFFFF;
            --primary-text-color-light: #B3B3B3;
            --secondary-text-color: #EFBFFF;
        }

        body {
            font-family: "DM Sans", "Inter", sans-serif;
            background-color: var(--canvas-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 30px;
            user-select: none;
        }

        #players-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            max-width: 600px;
        }

        .player {
            width: 340px;
            height: 170px;
            border-radius: 20px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            position: relative;
            background-color: var(--card-color);
            display: flex;
            flex-shrink: 1;
            margin: 0 auto;
            overflow: hidden;
        }

        .player-info {
            padding: 2.5rem 0 0 2rem;
            display: flex;
            flex-grow: 1;
            position: relative;
        }

        .player-name {
            font-size: 2rem;
            font-weight: 700;
            color: var(--primary-text-color);
            position: absolute;
            bottom: -7px;
        }

        .player-team {
            font-size: 1rem;
            font-weight: 400;
            color: var(--primary-text-color-light);
            display: block;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
        }

        .player-stats {
            border-radius: 15px;
            background-color: rgba(50, 0, 0, 0.7);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
            width: 260px;
            position: absolute;
            left: -20px;
            top: -20px;
            display: flex;
            justify-content: space-between;
            padding: 1rem 1.5rem;
        }

        .player-stat {
            font-size: 0.7rem;
            color: var(--secondary-text-color);
            text-transform: uppercase;
            position: absolute;
        }

        .player-stat-number {
            font-size: 20px;
            font-weight: 700;
            color: var(--secondary-text-color);
        }

        .player-image {
            display: flex;
            position: absolute;
            width: 200px;
            left: 200px;
        }

        .player-image img {
            display: block;
            position: absolute;
            width: 180px;
        }

        .play-circle {
            position: absolute;
            bottom: 10px;
            left: 10px;
            width: 40px;
            height: 40px;
            background-color: rgba(50, 0, 0, 0.7);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.3s ease;
        }

        .play-circle:hover {
            box-shadow: 0 0 30px 10px red;
        }

        .play-arrow {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 15px;
            border-color: transparent transparent transparent white;
            margin-left: 3px;
        }
